.container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .page-item{
    margin: 5px;
  }